{
  "type": "REPLACE_IT",
  "project_id": "REPLACE_IT",
  "private_key_id": "REPLACE_IT",
  "private_key": "REPLACE_IT",
  "client_email": "REPLACE_IT",
  "client_id": "REPLACE_IT",
  "auth_uri": "REPLACE_IT",
  "token_uri": "REPLACE_IT",
  "auth_provider_x509_cert_url": "REPLACE_IT",
  "client_x509_cert_url": "REPLACE_IT"
}
